# frontend
frontend/node_modules
frontend/dist

# backend
backend/target
backend/logs

# ide
.idea
.vscode
.DS_Store

# env
.env.local
.env.*.local
*.log
*.tmp

# ts artifacts
frontend/src/**/*.js
frontend/**/*.tsbuildinfo
